.aparelhos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
}

.card-aparelhos-info {
    display: block;
    margin-top: 30px;
}


.card-aparelhos {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    max-width: 200px;
  }
  
  
  .card-aparelhos p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-aparelhos a {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-aparelhos .card-aparelhos-infos {
    padding: 16px;
  }
  

  #index-title {
    min-height: 50px;
    margin: 20px;
  }

  .btn {
    color: white;
    margin-top: 20px;
    margin-left: 10px;
  }
